body {
	background: #E6E6E6;
}

.logo {
	padding-left: 10px !important;
}

.logo h4 {
  font-family: 'Lobster Two', cursive;
}

.sep {
	background: #ccc;
}

h3 {
	font-family: 'Roboto Slab', serif;
}

.show p:hover {
	background-color: teal;
	color: white;
}

.odd{
	color: blue;
}