<!DOCTYPE <!DOCTYPE html>
<html ng-app="textApp" ng-controller="textController">

<head>
  <title>News Girl App</title>
  <link rel="stylesheet" type="text/css" href="css/text.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.95.3/css/materialize.min.css">
  <link href='http://fonts.googleapis.com/css?family=Lobster+Two' rel='stylesheet' type='text/css'>
  <script type="text/javascript" src="http://code.jquery.com/jquery-2.1.3.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.95.3/js/materialize.min.js"></script>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
  <script type="text/javascript" src="js/textController.js"></script>
  <script type="text/javascript" src="js/textService.js"></script>
  <script type="text/javascript" src="js/textService1.js"></script>

</head>

<body>
  <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper teal lighten-2">
        <a href="#" class="brand-logo logo"><h4>News Girl App</h4></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li ng-repeat="x in list">
            <div class="row">
              <div class="col s2">
                <a href="" ng-click="getValue(x.value)">{{x.name}}</a>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </nav>
  </div>

  <div class="slider">
    <ul class="slides">
      <li>
        <img src="images/crop.jpg">
        <!-- <div class="caption center-align">
          <h3>Left Aligned Caption</h3>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
        </div> -->
      </li>
      <li>
        <img src="images/challenge.jpg">
        <!-- <div class="caption center-align">
          <h3>Left Aligned Caption</h3>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
        </div> -->
      </li>
      <li>
        <img src="images/challenge.jpg">
        <!-- <div class="caption center-align">
          <h3>Left Aligned Caption</h3>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
        </div> -->
      </li>
      <li>
        <img src="images/challenge.jpg">
        <!-- <div class="caption center-align">
          <h3>Left Aligned Caption</h3>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
        </div> -->
      </li>
    </ul>
  </div>

  <div class="row">
    <div class="col s12 m4">
      <ul>
        <li ng-repeat="x in show" ng-if="x.title">
          <a href="http://{{x.domain}}{{x.path}}" target="_blank" class="article">{{x.title}}</a>
        </li>
      </ul>
    </div>
    <div class="col s12 m8">

      <div class="row">
        <div ng-repeat="x in list1">

          <div ng-repeat="y in x" class="col s4">
            <div class="card small">
              <div class="card-image waves-effect waves-block waves-light">
                <div ng-if="y.image.url">
                  <img src="{{y.image.url}}">
                </div>
              </div>


              <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">{{y.title}}<i class="mdi-navigation-more-vert right"></i></span>
                <p><a href="{{y.unescapedUrl}}" target="_blank">Read</a>
                </p>
              </div>

              <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">{{y.title}}<i class="mdi-navigation-close right"></i></span>
                <p>{{y.content}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>



</body>

</html>

 
